

<div class="card">
    <div class="card-header">
        <h3 class="text-center">
            Todo Form
        </h3>
    </div>
    <div class="card-body">
        <form #todoItem="ngForm" (ngSubmit)="OnAddTodo()">
            <div class="form-group">
                <label for="todoItem">Todo Item* :-</label>
                <input type="text"
                        class="form-control"
                        name="todo"
                        ngModel
                        #todo="ngModel"
                        required
                        minlength="4"
                        maxlength="8">
                <span class="text-danger"
                    *ngIf="todo.invalid && todo.touched && todo.hasError('required')">
                    Todo Item is required
                </span>
        
                <span class="text-danger"
                    *ngIf="todo.dirty && todo.hasError('minlength')">
                    Minimum Length of Todo Item should be {{todo.errors?.['minlength'].requiredLength}}
                    and actual length is {{todo.errors?.['minlength'].actualLength}}
                </span>
            </div>
        
            <button type="submit" class="btn btn-outline-info btn-block" [disabled]="todoItem.invalid">
                Add Todo
            </button>
        </form>
    </div>
</div>