/* You can add global styles to this file, and also import other style files */


body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHYsSbtrh8fF3OMPK6MdsPz3RoZcHkwVNZHA&s");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}